{ "connection": {
	"url":"ldap://ldap.acme.com/",
	"bindDN":"uid=wileCoyote,ou=people,dc=acme,dc=com",
	"bindCredentials":"zbhw23"
},
"origin":"http://tex.avery.com",
"searchOptions": {
	"scope":"sub",
  	"filter":"(dinner=roadRunner)",
  	"attributes":"Name"
},
"base":"ou=people,dc=acme,dc=com",
"port":1337
}